Template_API_UI/.vs/TP.TelecomReport/config/applicationhost.config
Template_API_UI/.vs/TP.TelecomReport/v16/Server/sqlite3/storage.ide
Template_API_UI/TP.TelecomReport.CallDetails/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/TelecomReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/TelecomReport/obj/Debug/TelecomReport.csprojAssemblyReference.cache
Template_API_UI/.vs/TP.TelecomReport/v16/.suo
Template_API_UI/TelecomReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/TelecomReport/obj/Debug/TelecomReport.csprojAssemblyReference.cache
Template_API_UI/.vs/TP.TelecomReport/v16/Server/sqlite3/storage.ide
Template_API_UI/TelecomReport/obj/Debug/TelecomReport.csprojAssemblyReference.cache
Template_API_UI/TelecomReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/TP.Utility.ActiveDirectory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/TP.TelecomReport.CallDetails/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template_API_UI/.vs/TP.TelecomReport/v16/.suo
Template_API_UI/.vs/TP.TelecomReport/config/applicationhost.config
=======
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Template_API_UI/TelecomReport/obj/*
Template_API_UI/TelecomReport/obj/Debug/project.razor.json
